
* {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bg_img {
    position: relative;
    padding: 30px;
    height: 570px;
    text-align: center;
    font-size: 35px;
    background-color: #fff;
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#p1{
    font-family: 'open_sanssemibold';
    padding-top: 50px;
    font-size: 42px;
}


.bg_img p {
    position: relative;
    z-index: 6;
    font-family: 'open_sansregular';
    font-size: 35px;
    color: rgba(255, 255, 255, 0.87);
    line-height: 25px;
}

.bg_img::after {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.2);
    content: '';
}

.bg_img button {
    position: relative;
    z-index: 6;
    font-family: 'open_sanssemibold';
    font-size: 19px;
    background-color: rgb(153, 197, 10);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border-radius: 15px;
}

.about {
    width: 100%;
    height: auto;
    padding: 60px 50px;
}

.icon_ab {
    position: relative;
    padding: 30px;  
    margin: 30px;
    background-color: #fff;
    background-image: url(../img/icon1.png);
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    font-family: 'open_sanssemibold';
    font-size: 31px;
    text-align: center;
    color: #515151;
}

p {
    font-family: 'open_sansregular';
    font-size: 19px;
    text-align: center;
    
}

.browse {
    width: 100%;
    height: auto;
}

.browse_item {
    text-align: center;
    
}

.browse_item_select {
    display: inline-block;
    margin: 0 auto;
    font-size: 33px;
    font-family: 'open_sansregular';
    color: #515151;
    padding-right: 120px;
    text-align: center;
}

.browse_item_select:last-child {
    padding-right: 0;
}

.browse_item_select img {
    margin-right: 28px;
}

.inforamtion {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.glasses {
    position: relative;
    margin: 0 auto;
    max-width: 50px auto;
    float: left;
    padding: 15px 15px;
    z-index: 3;
}

.inf {
    position: relative;
    z-index: 2;
}

.inf h2 {
    font-family: 'open_sansregular';
    font-size: 25px;
    color: #add136;
}

.inf p {
    font-family: 'open_sansregular';
    font-size: 17px;
    color: #606060;
}

.block_2 {
    width: 100%;
    padding: auto;
    display: inline-block;
    
}

.block_img {
    position: absolute;
    width: 50%;
    height: 270px;
    background: #e2f8ff;
    float:left;
    
}



.block_img img {
    float: left;
    padding-left: 15%;
    padding-top: 50px;
}

#header_block {
    margin-top: 25px;
    font-family: 'open_sansregular';
    font-size: 23px; 
    text-align: center;
}

#par_block {
    font-family: 'open_sansregular';
    font-size: 17px;
    text-align: justify;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 270px;
}

.block_img button {
    position: relative;
    z-index: 6;
    font-family: 'open_sanssemibold';
    font-size: 14px;
    background-color: #26a6d1;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border-radius: 15px;   
    float: right; 
    margin-right: 175px;
}

